db/absence.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scolarite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="users">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="user">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom" type="xs:string" />
                    <xs:element name="prenom" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                    <xs:element name="password" type="xs:string" />
                    <xs:element name="role" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="departements">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="departement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="intitule" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="codeDep" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="idProf" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="filiers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="filier">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="intitule" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="codeFil" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="codeDep" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="professeurs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="professeur">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom" type="xs:string" />
                    <xs:element name="prenom" type="xs:string" />
                    <xs:element name="cin" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="idProf" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="modules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="module">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="intitule" type="xs:string" />
                    <xs:element name="volh" type="xs:unsignedShort" />
                  </xs:sequence>
                  <xs:attribute name="codeMod" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="idProf" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="matieres">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="matiere">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="intitule" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="codeMat" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="codeMod" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="groups">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="group">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="intitule" type="xs:string" />
                    <xs:element name="nbretud" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="codeGrp" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="codeFil" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="etudiants">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="etudiant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cne" type="xs:string" />
                    <xs:element name="nom" type="xs:string" />
                    <xs:element name="prenom" type="xs:string" />
                    <xs:element name="datenaiss" type="xs:date" />
                    <xs:element name="ville" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="codeCin" type="xs:string" use="required" />
                  <xs:attribute name="codeGrp" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="semesters">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="semester">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="intitule" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="codeSem" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="semaines">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="semaine">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="intitule" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="codeSemain" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="jours">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="jour">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="intitule" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="codeJr" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="seances">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="seance">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedByte">
                      <xs:attribute name="codeSean" type="xs:unsignedByte" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>