db/absence1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="scolarite">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="users"/>
        <xs:element ref="roles"/>
        <xs:element ref="permissions"/>
        <xs:element ref="PermissionRole"/>
        <xs:element ref="RoleUsers"/>
        <xs:element ref="departements"/>
        <xs:element ref="filiers"/>
        <xs:element ref="professeurs"/>
        <xs:element ref="modules"/>
        <xs:element ref="matieres"/>
        <xs:element ref="groups"/>
        <xs:element ref="etudiants"/>
        <xs:element ref="semestres"/>
        <xs:element ref="semaines"/>
        <xs:element ref="jours"/>
        <xs:element ref="seances"/>
        <xs:element ref="anneescolaires"/>
        <xs:element ref="absences"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="user"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nom"/>
        <xs:element ref="prenom"/>
        <xs:element ref="email"/>
        <xs:element ref="password"/>
        <xs:element minOccurs="0" ref="role"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="password" type="xs:string"/>
  <xs:element name="roles">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="role"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="permissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="permission"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="permission">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="action"/>
        <xs:element ref="table"/>
      </xs:sequence>
      <xs:attribute name="CodePermission" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="action" type="xs:NCName"/>
  <xs:element name="table" type="xs:NCName"/>
  <xs:element name="PermissionRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="authorization"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authorization">
    <xs:complexType>
      <xs:attribute name="CodePermission" use="required" type="xs:integer"/>
      <xs:attribute name="NumRole" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="RoleUser"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleUser">
    <xs:complexType>
      <xs:attribute name="NumRole" use="required" type="xs:integer"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="departements">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="departement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="departement">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="intitule">
          <xs:attribute name="NumDept" use="required" type="xs:integer"/>
          <xs:attribute name="chef" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="filiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="filier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filier">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="intitule">
          <xs:attribute name="NumAnnee" type="xs:integer"/>
          <xs:attribute name="NumFilier" use="required" type="xs:integer"/>
          <xs:attribute name="departement" use="required" type="xs:integer"/>
          <xs:attribute name="responsable" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="professeurs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="professeur"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="professeur">
    <xs:complexType>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="matricule" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="modules">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="module"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="module">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="intitule">
          <xs:sequence>
            <xs:element ref="volh"/>
          </xs:sequence>
          <xs:attribute name="NumModule" use="required" type="xs:integer"/>
          <xs:attribute name="coordinateur" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="volh" type="xs:integer"/>
  <xs:element name="matieres">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="matiere"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="matiere">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="intitule">
          <xs:attribute name="codeMatiere" use="required" type="xs:integer"/>
          <xs:attribute name="debut" use="required" type="xs:NMTOKEN"/>
          <xs:attribute name="fin" use="required" type="xs:NMTOKEN"/>
          <xs:attribute name="module" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="groups">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="group"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:attribute name="NumAnnee" use="required" type="xs:integer"/>
      <xs:attribute name="NumFilier" use="required" type="xs:integer"/>
      <xs:attribute name="NumGroup" use="required" type="xs:integer"/>
      <xs:attribute name="anneeScolaire" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="etudiants">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="etudiant"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="etudiant">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nom"/>
        <xs:element ref="prenom"/>
        <xs:element ref="email"/>
        <xs:element ref="tele"/>
      </xs:sequence>
      <xs:attribute name="NumAnnee" use="required" type="xs:integer"/>
      <xs:attribute name="NumFilier" use="required" type="xs:integer"/>
      <xs:attribute name="NumGroup" use="required" type="xs:integer"/>
      <xs:attribute name="anneeScolaire" use="required" type="xs:integer"/>
      <xs:attribute name="cne" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tele" type="xs:integer"/>
  <xs:element name="semestres">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="semestre"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="semestre">
    <xs:complexType>
      <xs:attribute name="NumSemestre" use="required" type="xs:NCName"/>
      <xs:attribute name="anneeScolaire" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="semaines">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="semaine"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="semaine">
    <xs:complexType>
      <xs:attribute name="NumSemaine" use="required" type="xs:integer"/>
      <xs:attribute name="NumSemestre" use="required" type="xs:NCName"/>
      <xs:attribute name="anneeScolaire" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="jours">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="jour"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jour">
    <xs:complexType>
      <xs:attribute name="NumJour" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="NumSemaine" use="required" type="xs:integer"/>
      <xs:attribute name="NumSemestre" use="required" type="xs:NCName"/>
      <xs:attribute name="anneeScolaire" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seances">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="seance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seance">
    <xs:complexType>
      <xs:attribute name="NumFilier" use="required" type="xs:integer"/>
      <xs:attribute name="NumSeance" use="required" type="xs:integer"/>
      <xs:attribute name="anneeScolaire" use="required" type="xs:integer"/>
      <xs:attribute name="group" use="required" type="xs:integer"/>
      <xs:attribute name="jour" use="required" type="xs:NCName"/>
      <xs:attribute name="matiere" use="required" type="xs:integer"/>
      <xs:attribute name="prof" use="required" type="xs:NCName"/>
      <xs:attribute name="semaine" use="required" type="xs:integer"/>
      <xs:attribute name="semestre" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="anneescolaires">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="anneescolaire"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="anneescolaire">
    <xs:complexType mixed="true">
      <xs:attribute name="anneeScolaire" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="absences">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="absence"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="absence">
    <xs:complexType>
      <xs:attribute name="NumFilier" use="required" type="xs:integer"/>
      <xs:attribute name="NumSeance" use="required" type="xs:integer"/>
      <xs:attribute name="cne" use="required" type="xs:NCName"/>
      <xs:attribute name="jour" use="required" type="xs:NCName"/>
      <xs:attribute name="semaine" use="required" type="xs:integer"/>
      <xs:attribute name="semestre" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="nom" type="xs:string"/>
  <xs:element name="prenom" type="xs:NCName"/>
  <xs:element name="email" type="xs:string"/>
  <xs:element name="role">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="label"/>
      </xs:sequence>
      <xs:attribute name="NumRole" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="label" type="xs:string"/>
  <xs:complexType name="intitule">
    <xs:sequence>
      <xs:element ref="intitule"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="intitule" type="xs:string"/>
</xs:schema>
